# Папка з залежностями Node.js
node_modules/

# Файли конфігурації IDE (JetBrains)
.idea/

# Файли баз даних SQLite (вирішіть, чи хочете ігнорувати YuMa.db)
# Якщо YuMa.db додаєте до репо, закоментуйте або видаліть наступний рядок
# *.db
# *.sqlite

# Системні файли macOS
.DS_Store

# Можливо, інші файли, які генеруються автоматично або не потрібні в репо
# наприклад, логи, тимчасові файли тощо.